body{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
    font-size: 15px;
}
.student-list-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: -3rem;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
}
.center-title {
	text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.btn.btn-primary.btn-sm{
    font-size: 14px;
    font-weight: bold;

}
.btn.btn-danger.btn-sm{
    font-size: 14px;
    font-weight: bold;
}
.btn.btn-primary{
    font-size: 14px;
    font-weight: bold;
}
.btn.btn-secondary{
    font-size: 14px;
    font-weight: bold;
}
.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 1rem;
}
.btn.btn-success.mb-3{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    width: auto;
    margin-bottom: 1rem;
    float: none;
    text-align: center;
    box-shadow: none;
}